<div class="container mt-5 pt-5">
  <h2>Add a new skill</h2>
  <%= simple_form_for @user_skill, url: "/skills" do |f| %>
    <%= f.input :skill %>
    <%= f.input :level, collection: ["Beginner","Intermediate","Expert"] %>
    <%= f.submit %>
  <% end %>
</div>
