.purchase-bar {
  width: 300px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border: solid 1px $red-light-fivel;
  background-color: #150e1d;
  border-radius: $border-radius-xl;
  padding: 20px;

  p {
    margin: 20px auto;
  }
}

.seller-bar {
  background-color: #150e1d;
  border: solid 1px $red-light-fivel;
  border-radius: $border-radius-xl;
  padding: 20px;
}

.description-bar {
  background-color: #150e1d;
  border: solid 1px $red-light-fivel;
  border-radius: $border-radius-xl;
  padding: 20px;
}

.search-bar {
  width: 600px;
  height: 60px;
  border-radius: 30px;
  margin: 0px 0px 30px 60px;
}

.search-bar submit {
  margin: -300px;
  height: 60px;
}
