.btn-main {
  border: solid 1px $red-light-fivel;
  background-color: transparent;
  color: white;
  border-radius: 30px;
  padding: 8px 30px;
  transition: ease-in-out 0.3s;
}

.btn-main:hover {
  background-color: $red-dark-fivel;
  transform: scale(1.1);
}

.btn-alternative {
  border: solid 1px $red-dark-fivel;
  background-color: $red-light-fivel;
  color: white;
  border-radius: 30px;
  padding: 8px 30px;
  transition: ease-in-out 0.3s;
}

.btn-alternative:hover {
  background-color: $red-dark-fivel;
  transform: scale(1.1);
}

.btn-search {
  margin-left: -80px;
}
