.category-card {
  cursor: pointer;
  width: 300px;
  background-color: #150e1d;
  border: solid 1px $orange;
  border-radius: $border-radius-xl;
  margin: auto 10px;
  padding: 20px;
  transition: ease-in-out 0.3s;
}

.category-card:hover {
  transform: scale(1.1);
}

.card-styling {
  background-color: #150e1d;
  border: solid 1px #ED7542;
  border-radius: 15px;
  margin: auto 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;

  .card-title, .card-text {
    color: white;
  }

  .btn-main {
    background-color: #ED7542;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: darken(#ED7542, 10%);
    }
  }
}

.see-more-link {
  color: #ed7542ab;
  position: absolute;
  right: 100px;
  margin-top: 20px;
  &:hover {
    color: darken(#ed7542ac, 10%);
  }
}
