.service-card {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  height: 150px;
  background-color: #150e1d;
  border: solid 1px $red-light-fivel;
  border-radius: $border-radius-xl;
  margin: 30px 10px;
  padding: 30px;
  transition: ease-in-out 0.3s;
}

.category-card:hover {
  transform: scale(1.1);
}

.card-styling {
  background-color: #150e1d;
  border: solid 1px #ED7542;
  border-radius: 15px;
  margin: auto 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;

  .card-title, .card-text {
    color: white;
  }

  .btn-main {
    background-color: #ED7542;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: darken(#ED7542, 10%);
    }
  }
}

.see-more-link {
  color: #ed7542ab;
  margin-top: 20px;
  &:hover {
    color: darken(#ed7542ac, 10%);
  }
}

.category-card h5 {
  margin: 30px auto;
  width: 90%;
}

.category-card img {
  width: 100%;
  border-radius: $border-radius-xl;
}

.col-category {
  display: flex;
  align-items: center;
}

.login, .signup {
  width: 600px;
  background-color: #150e1d!important;
  border: solid 1px $red-light-fivel;
  border-radius: $border-radius-xl;
  padding: 60px;
}

.login input, .signup input {
  background-color: #382b46!important;
  color: white;
  border: solid 1px $red-light-fivel;
  border-radius: $border-radius-xl;
}

.login label, .login input:focus, .signup label, .signup input:focus {
  color: white;
}

.services .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-card {
  background-color: #121320;
  padding: 20px;
  margin: 10px;
  border: 1px solid $red-light-fivel;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.service-card .card-body {
  padding: 10px;
}

.service-title {
  font-family: $headers-font;
  color: #bfb6b6;
  text-decoration: none;
  font-size: 20px;

  &:hover {
    color: white;
  }
}

.category-title {
  color: #d8d7d6;
  margin-bottom: 20px;
  text-align: center;
}

.categories .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-card h3 {
  margin: 0;
  font-size: 20px;
  color: #bfb6b6;
}

.service-card:hover {
  transform: scale(1.1);
}

.service-card h5 {
  margin: 30px auto;
  width: 90%;
}

.service-card img {
  width: 100%;
  border-radius: $border-radius-xl;
}

.col-category {
  background-color: #150e1d;
  color:white;
  border: solid 1px $red-light-fivel;
  border-radius: $border-radius-xl;
  margin: 30px 10px;
  padding: 20px 15px 20px 15px;
  display: flex;
  align-items: center;
  transition: ease-in-out 0.3s;
  justify-content: center;
  text-align: center;
}

.col-category:hover {
  transform: scale(1.1);
}

.col-category a {
  text-decoration: none;
  color: #bfb6b6;
}

.col-category i {
  color: white
}

.login, .signup, .new, .edit {
  width: 600px;
  background-color: #150e1d!important;
  border: solid 1px $red-light-fivel;
  border-radius: $border-radius-xl;
  padding: 60px;
}

.login input, .signup input, .new input, .new textarea, .new select, .edit input, .edit textarea, .edit select {
  background-color: #382b46!important;
  color: white;
  border: solid 1px $red-light-fivel;
  border-radius: $border-radius-xl;
}

.login label, .login input:focus, .signup label, .signup input:focus, .new label, .new input:focus, .edit label, .edit input:focus {
  color: white;
}

.services .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
