.footer {
  background-color: #130e1d;
  color: #ffffff;
  padding: 30px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.7);

  .container {
    display: flex;
    justify-content: center;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
  }

  .footer-item {
    margin: 0 15px;
  }

  .footer-image {
    width: 80px;
    height: auto;
    filter: grayscale(60%);
  }

  .social-icons {
    display: flex;
    gap: 15px;

    a {
      color: #ffffff;
      transition: color 0.3s;

      &:hover {
        color: #ED7542;
      }

      i {
        font-size: 1.5rem;
      }
    }
  }

  .copyright-text {
    font-size: 0.9rem;
  }
}
