.navbar-lewagon {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  background: rgba(0, 0, 0, 0); /* Fondo semitransparente */
  padding: 1rem 2rem;
  backdrop-filter: blur(10px);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 90px;
}
