.navbar-fivel {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1001;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  background: #150e1d;
  padding: 1rem 2rem;
  backdrop-filter: blur(10px);
}

.navbar-fivel .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 90px;
}

.navbar-nav a {
  text-decoration: none;
  color: white;
}

.dropdown-menu {
  background: #150e1d;
  backdrop-filter: blur(10px);
  border: solid 1px $red-light-fivel;
  border-radius: $border-radius-xl;
}

.dropdown-menu a:hover {
  color: white;
  background: $red-light-fivel;
}
