.navbar-fivel {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1001;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  background: rgba(0, 0, 0, 0);
  padding: 1rem 2rem;
  backdrop-filter: blur(10px);
}

.navbar-fivel .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 90px;
}

.navbar-nav li a {
  text-decoration: none;
  color:white;
}
