.purchase-bar {
  width: 200px;
  position: fixed;
  bottom: 20px; /* Margin from the bottom */
  right: 20px;   /* Margin from the left */
  padding: 10px;
  border: solid 1px $orange;
  background-color: #150e1d;
  border-radius: $border-radius-xl;
  padding: 20px;
}
