<table class="table table-striped m-5 w-75 orders-table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @my_orders.each_with_index do |order, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= order.service.title %></td>
        <td><%= order.status %></td>
        <td><%= link_to "Details", sale_path(order.id), class: 'btn btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
